<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="company.name" class="form-control" id="name" placeholder=""/>
  </div>
</div>
<div class="form-group">
  <label for="address" class="col-sm-2 control-label">Address</label>
  <div class="col-sm-10">
    <input type="text" ng-model="company.address" class="form-control" id="address" placeholder=""/>
  </div>
</div>
<div class="form-group">
  <label for="city" class="col-sm-2 control-label">City</label>
  <div class="col-sm-10">
    <input type="text" ng-model="company.city" class="form-control" id="city" placeholder=""/>
  </div>
</div>
<div class="form-group">
  <label for="country" class="col-sm-2 control-label">Country</label>
  <div class="col-sm-10">
    <input type="text" ng-model="company.country" class="form-control" id="country" placeholder=""/>
  </div>
</div>
<div class="form-group">
  <label for="email" class="col-sm-2 control-label">Email</label>
  <div class="col-sm-10">
    <input type="text" ng-model="company.email" class="form-control" id="email" placeholder=""/>
  </div>
</div>
<div class="form-group">
  <label for="phone" class="col-sm-2 control-label">Phone</label>
  <div class="col-sm-10">
    <input type="text" ng-model="company.phone" class="form-control" id="phone" placeholder=""/>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>